node_modules/
dist/
dist-ssr/
build/
.vite/

.env
.env.*
!.env.example

*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

.eslintcache

.vscode/
!.vscode/extensions.json
.idea/

.DS_Store
Thumbs.db